@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: var(--color-primary);
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9,1fr);
    grid-gap: 8px;
    grid-template-areas: 
    "menu menu menu menu menu menu menu menu menu menu menu menu"     
    "notification notification notification notification sales sales sales sales sales sales balance balance"     
    "notification notification notification notification sales sales sales sales sales sales balance balance"     
    "week week week week sales sales sales sales sales sales balance balance"     
    "week week week week sales sales sales sales sales sales devs devs"     
    "week week week week sales sales sales sales sales sales devs devs"     
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"     
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"     
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    ;
    width: 800px;
    height: 600px;
    margin: 15px auto;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    box-shadow: var(--color-shadows);
}

.container div {
    border-radius: 10px;
}

.item_1, .item_2, .item_3, .item_4, .item_5, .item_6, .item_7, .item_8 {
    background-color: white;
}

.item_1 {
    outline: red 3px solid;
    justify-content: space-between;
    display: flex;
    grid-area: menu
}


.izq a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    text-decoration: none;
    color: black !important;
}



.izq {
    display: flex;
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchicon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
.der {
    display: flex;
    width: 50%;
    background: linear-gradient(to right, #89d8fa, #d6f064);
    align-items: center;
    justify-content: space-between;
}

.iconsder {
    display: flex;
    justify-content: center;
}

.user {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.der .usericond img{
    display: flex;
    width: 50px;
}

/*--------------------------------------*/
/*----------     ITEM 2     ------------*/
/*--------------------------------------*/

.item_2 {
    display: flex;
    background: #87d8f9;
    flex-direction: column;
    grid-area: notification;
    outline: red 1px solid;
    padding-left: 20px;
    padding-top: 10px;
}

.icons2 img{
    margin-top: 10px;
    height: 45x;
    width: 45px;
    outline: red 1px solid;
}

.title2 {
    display: flex;
    font-size: 15px;
    font-weight: bold;
}

.time2 {
    display: flex;
    justify-content: ;
}

.dots2 {
    justify-content: space-around;
    display: flex;
    padding-right: 0px;
}

/*--------------------------------------*/
/*----------     ITEM 3     ------------*/
/*--------------------------------------*/



.item_3 {
    padding: 10px;
    grid-area: sales;
    outline: red 1px solid;

}

.yearlypart {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.upper3 h1 {
    margin-top: 20px;
}

.ganancias3{
    margin-top: 20px;
    color: #ceec3b;
}

.picture3{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer3 {
    color: gray;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------*/
/*----------     ITEM 4     ------------*/
/*--------------------------------------*/

.item_4 {

    outline: red 1px solid;
    
    grid-area: week

}

/*--------------------------------------*/
/*----------     ITEM 5     ------------*/
/*--------------------------------------*/

.item_5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    outline: red 1px solid;
    grid-area: balance;
}

.stuff51, .stuff52, .stuff53 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    outline: red 1px solid;
    margin-top: 10px;
}

.stuff52 {
    background-color: #aef7ae;
}

/*--------------------------------------*/
/*----------     ITEM 6     ------------*/
/*--------------------------------------*/

.item_6 {

    outline: red 1px solid;
    
    background: #d7f065;
    grid-area: devs
}

/*--------------------------------------*/
/*----------     ITEM 7     ------------*/
/*--------------------------------------*/

.item_7 {

    outline: red 1px solid;
    
    grid-area: product

}

.time7item7 {
    display: flex;
    font-size: 19px;
    margin-top: 10px;
    justify-content: space-between;
}

.switchplace7 {
    display: flex;
    margin-right: 20px;
}

.boxes7 {
    display: flex;
}

.coder7 {
    background-color: #fffe91;
}

.meeting7 {
    background-color: #d7f065;
}

/*--------------------------------------*/
/*----------     ITEM 8     ------------*/
/*--------------------------------------*/

.item_8 {
    padding-left: 30px;

    outline: red 1px solid;
    
    grid-area: timeline
}

.item_8 img {
    
    width: 100;
    height: 190px;
}



@media (width > 60px  ) {

}